/vendor
/node_modules
.env
/bootstrap/compiled.php
.env.*.php
composer.phar
.DS_Store
Thumbs.db
/public/css/build
/public/js/build
/public/img/svg
.htaccess
*.env


### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

node_modules/**/*

node_modules/*


### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
log/**
logs/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
test-output/*
test-output/**
test-output/**/*